/* Styling myTimes */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
 header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row; /*default typed for practice */
  position: fixed;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  top: 0px;
  z-index: 5;
  background-color: white;

}
header span {
  color: MediumAquamarine;
/*  justify-content: flex-start; */
  padding: 15px;
  align-self: center;
}
nav {
  padding-right: 40px;
}
 nav span {
  display: inline-block;
  /* color: black; */
  padding: 20px 10px;
/*  justify-content: flex-end; */
}
a {
  color: black;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MAIN CONTAINER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.mainContainer {
  display: flex;
  position: relative;
  top: 100px;
  justify-content: center;
  font-size: 17px;
  font-family: Georgia;
  color: black;


}

.large {
  display: flex;
  flex-direction:column ;
  width: 630px;
/*  border: 1px solid black; */
  justify-content:flex-start;
  flex-wrap: nowrap;
  background-color: lightblue;


}

.mainStory {
width: 100%;
display: block;
}

.subStory {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

.med {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0px 35px;
/*  border: 1px solid black; */
}

.small {
  display: flex;
  flex-direction: column;
  width: 240px;
/*  border: 1px solid black; */
  font-size: 16px;
  font-weight: bold;
}

.small span {

  display: block;

  border-bottom: 1px solid black;
  padding: 10px 0px 10px 10px;
  background-color: whiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

#one {
  display: flex;
  font-family: Georgia;
  font-size: 40px;
  color: white;
  font-weight: bold;
  height: 300px;
  background-image: url('../media/imgmain.png');
}

#two {
  display: flex;
  font-family: Georgia;
  font-size: 30px;
  color: white;
  font-weight: bold;
  height: 300px;
  background-image: url('../media/img2.png');
}

#three {
  display: flex;
  font-family: Georgia;
  font-size: 30px;
  color: white;
  font-weight: bold;
  height: 300px;
  background-image: url('../media/img3.png');
}

#four {
  display: flex;
  font-family: Georgia;
  font-size: 30px;
  color: white;
  font-weight: bold;
  height: 300px;
  background-image: url('../media/img1.png');
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
  display: flex;
  position: absolute;
  width: 100%;
  height: 300px;
  align-self: center;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

footer span {
  display: ;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
